

.header-h1{
	text-align: top;
	background-color: bisque;
	padding-top: 80px;
	padding-bottom: 40px;
}
.firstp{
	background-color: rgb(167, 135, 97);
}
 body{
	 background-color: rgb(155, 140, 122);
 }
 .ro{
	 background-color: rgb(161, 128, 86);
 }